<ion-view class="bodyenclose" title="Fets Wallet" >
<ion-content   has-header="true" padding="true" >
    <div class="logo_backgd"><img src="img/fets-logo.png" class="image_def" ></div>
   <div class="list card aboutList aboutListMg">
   <div class="item item-avatar">
    <img src="img/mobilemoney.jpg">
    <h2>About fetswallet</h2>
    <p>Issues with internet? Dial *610#</p>
  </div>
  <div class="item item-body backBodyList">
  <p><b>fetswallet</b> is a Universal online payment service built on fets Technology, a global mobile and e-Payments solution that enables anyone, anywhere, to securely use our payment services at any time, online using any PC or mobile device. Best of all, you don’t need to have a bank account or a credit card to be able to enjoy the flexibility and freedom offered by <b>fetswallet</b> virtual account system.</p>
  </div>
  <div class="item item-body backBodyList">
  <p>The <b>fetswallet</b> account is an advanced online e-Wallet system, which integrates multiple products and services into a simple, easy-to-use system. It enables customers to load their account, withdraw, top-up mobile phone and Internet services, and purchase prepaid products and transfer funds to any other account or user instantly. fets wallet is the heart of fets technology and empowers the cash-based consumers across the world to use the financial services without applying for multiple accounts.</p>
  </div>
  <div class="item item-body backBodyList">
  <p>The fets technology allows the fets wallet account holder to use the same online e-Wallet for multiple payment options in a consolidated balance and can be accepted across authorized networks around the globe. Upon sign up, fets wallet account holders will obtain a FREE and secure online account in REAL TIME.</p>
  </div>
   </div>
   <div class="list card aboutList">

  <div class="item item-avatar">
    <img src="img/fets.png">
    <h2>About fets</h2>
    <p>Why you should trust us</p>
  </div>

  <div class="item item-body backBodyList">
    
    <p>
      <b>Funds &amp; Electronic Transfer Solutions Limited</b> is a Central Bank of Nigeria (CBN) licensed mobile money operator, our strength is drawn from internal team of professionals with strong background in Banking, E-Commerce, and Information and Communication Technology. Our offering combines the following innovative technologies &amp; solutions:
    </p>
    <p>
    <b>BRANCHLESS BANKING</b><br>
      With a country-wide agent network, we assist banks in designing new products and services for the under-banked population through a combined technology and distribution channel to enable a rapid reach out, thereby altering the lives of the beneficiaries - the unbanked customers who are excluded from the formal banking system until now.
    </p>
    <p>Thousands of satisfied partners and end users have chosen fets’ technologies and products to launch and manage their businesses, using our secure online &amp; mobile payment solutions. fets team is at the edge of online &amp; mobile payment technology, and helping a fast growing number of customers (mainly unbanked) to securely pay online or to receive payments from mobile phones and Internet. </p>
  </div>

  

</div>
   </ion-content>
</ion-view>
