<ion-view title="Wallet Balance" >
	<ion-content  class="bodyenclose3" has-header="true" padding="true" >
   		<div class="logo_backgd"><img src="img/fets-logo.png" class="image_def" ></div>
        <div ng-show="showform" >
        <form name="form" class="css-form" novalidate>
            <div class="list card listshow">
            <div class="item item-stable item-divider">
            Wallet Confirmation
            <p class="errmsg" ng-show="authPay">{{authMsg}}</p>
            <p class="sucmsg" ng-show="sucDisplay">{{sucMsg}}</p>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Wallet ID</span>
            <input type="text" placeholder="Enter Wallet Number"  ng-model="allval.walletid" required>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Enter Wallet Password"  ng-model="allval.walletpasd"  required>
            </div>
            <label class="item item-input bcklist2">
              <button class="button button-full button-dark btnfull" ng-disabled="form.$invalid"  
              ng-click="checkbal()">Check Balance</button>
              </label>
            </div>
		</form>
        </div>
        <div ng-hide="showform" >
        </div>
        </ion-content>
</ion-view>
