
          <ion-content class="bodyenclose" padding="true" has-header="false">
            <ul class="list">
              <a  href="#" class="item item-dark item-icon-left" >
              <i class="icon calm ion-ios7-cart"></i>Pay Bills</a>
              <a  href="#" class="item item-dark item-icon-left" >Account Settings</a>
              <a  href="#" class="item item-dark item-icon-left" ><i class="icon calm ion-iphone"></i>
            Airtime Top Up</a>
              <a  href="#" class="item item-dark item-icon-left" ><i class="icon calm ion-person"></i>
            Wallet to Wallet</a>
              <a  href="#" class="item item-dark item-icon-left" ><i class="icon calm ion-ios7-albums"></i>
            Wallet to Bank</a>
            </ul>
          </ion-content>