
          <ion-content class="bodyenclose2" padding="true" has-header="false">
            <ul class="list">
            <a  href="#/mainState/paybills" menu-close class="item item-dark item-icon-left" >
              <i class="icon stable ion-ios7-cart"></i>Pay Bills</a>
              <a  href="#/mainState/topup" menu-close class="item item-dark item-icon-left" ><i class="icon stable ion-iphone"></i>
            Airtime Top Up</a>
              <a  href="#/mainState/walletTrans" menu-close class="item item-dark item-icon-left" ><i class="icon stable ion-person"></i>
            Wallet to Wallet</a>
              <a  href="#/mainState/bankTrans" menu-close class="item item-dark item-icon-left" ><i class="icon stable ion-ios7-albums"></i>
            Wallet to Bank</a>
            <a  href="#" class="item item-dark item-icon-left" ><i class="icon stable ion-card"></i>
            Fund Wallet</a>
            <a  href="#/mainState/checkBal" menu-close class="item item-dark item-icon-left" ><i class="icon stable ion-compose"></i>
            Check Balance</a>
            <div class="item item-stable item-divider">
    
  </div>
              <a  href="#" menu-close class="item item-dark" >Report Issues</a>
              <a  href="#" menu-close class="item item-dark" >Account Settings</a>
              <a  href="#" menu-close class="item item-dark" >Find Agent</a>
            </ul>
          </ion-content>