<ion-view title="Bills Payment" >
<ion-content  class="bodyenclose3" has-header="true" >
   <div class="logo_backgd"><img src="img/fets-logo.png" class="image_def" ></div>
   <div ng-show="showform" >
   <form name="form" class="css-form" novalidate>
   <div class="list card listshow">
   			<div class="item item-stable item-divider">
            Merchant Details
            <p class="sucmsg" ng-show="sucDisplay">{{sucMsg}}</p>
            </div>
  <div class="item item-input item-stacked-label bcklist2">
    <span  class="input-label">
      Merchants
    </span >
    <select ng-change="allval.productPrice=''" ng-model="allval.products" ng-options="merchant.name for merchant in merchants" required>
      <option value="">-- select a Merchant --</option>
    </select>
  </div>
  
  <div class="item item-input bcklist2 item-stacked-label">
    <div class="input-label">
      Products
    </div>
    <select ng-change="allval.productPrice=allval.newProduct.value" ng-model="allval.newProduct" ng-options="product.name for product in allval.products.products" required>
      <option value="">-- select a product --</option>
    </select>
   
  </div>
	<div class="item item-input bcklist2 item-stacked-label ">
    <span class="input-label">Product Amount</span>
    <input type="text" placeholder="Enter Amount of product" is-number ng-disabled="allval.newProduct.value" ng-model="allval.productPrice" required>
  </div>
  <label class="item item-input bcklist2">
  <button class="button button-full button-dark btnfull" ng-disabled="form.$invalid"  ng-click="payment()">Make Payment</button>
  </label>
</div>
</form>
</div>
<div ng-hide="showform" >
<form name="form2" class="css-form" novalidate>
<div class="list card listshow">
<div class="item item-stable item-divider">
    Wallet Confirmation
  </div>
<div class="item item-input bcklist2 item-stacked-label">
<span class="input-label">Wallet ID</span>
<input type="text" placeholder="Enter Wallet Number"  ng-model="allval.walletid" required>
</div>
<div class="item item-input bcklist2 item-stacked-label">
<span class="input-label">Password</span>
<input type="password" placeholder="Enter Wallet Password"  ng-model="allval.walletpasd"  required>
</div>
<div class="item  bcklist2 " >
<button class="button  button-dark " ng-disabled="form.$invalid"  ng-click="PaymentCancel()">Cancel</button> &nbsp;
  <button class="button  icon-left ion-locked button-dark  "  ng-disabled="form2.$invalid"  ng-click="PaymentConfirm()">Continue with Payment</button>
  </div>
</div>
</form>
</div>
   </ion-content>
</ion-view>
