<ion-view class="bodyenclose" title="Wallet" >
<ion-content   has-header="true" padding="true" >
   <div class="logo_backgd"><img src="img/fets-logo.png" class="image_def" ></div>
        <div ng-show="showform" >
        <form name="form" class="css-form" novalidate>
            <div class="list card listshow">
            <div class="item item-stable item-divider">
            <h2 class="fetTitle">Register to wallet</h2>
            <p class="errmsg" ng-show="authPay">{{authMsg}}</p>
            <p class="sucmsg" ng-show="sucDisplay">{{sucMsg}}</p>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Phone Number</span>
            <input type="tel" placeholder="Enter Phone Number"  ng-model="allval.walletid" required>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="Title"  ng-model="allval.title "  required>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name"  ng-model="allval.firstname"  required>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Middle Name</span>
            <input type="text" placeholder="Middle Name"  ng-model="allval.midname" >
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name"  ng-model="allval.lastname" required>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Mother Maiden Name</span>
            <input type="text" placeholder="Mother Maiden Name"  ng-model="allval.midname" required>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Gender(Sex)</span>
            <div class="list">

              <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                  Male
                </div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                  Female
                </div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
            
            </div>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Date Of Birth</span>
            <input type="date" placeholder="Date of birth"  ng-model="allval.dob" required>
            </div>
            <label class="item item-input bcklist2">
              <button class="button button-full button-dark btnfull" ng-disabled="form.$invalid"  
              ng-click="checkbal()">Register</button>
              </label>
            </div>
		</form>
        </div>
   </ion-content>
      </ion-view>
