<ion-view title="Wallet to Wallet" >
	<ion-content  class="bodyenclose3" has-header="true"  >
   		<div class="logo_backgd"><img src="img/fets-logo.png" class="image_def" ></div>
        <div ng-show="showform" >
        <form name="form" class="css-form" novalidate>
            <div class="list card listshow">
            <div class="item item-stable item-divider">
            Transfer Details
            <p class="sucmsg" ng-show="sucDisplay">{{sucMsg}}</p>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
                <span class="input-label">Beneficiary's Wallet ID</span>
                <input type="text" placeholder="Enter walletID"  ng-model="allval.benWalletID" required>
             </div>
             <div class="item item-input bcklist2 item-stacked-label">
                <span class="input-label">Amount</span>
                <input type="number" placeholder="Enter amount"  ng-model="allval.amount" required>
             </div>
             <label class="item item-input bcklist2">
              <button class="button button-full button-dark btnfull" ng-disabled="form.$invalid"  
              ng-click="tranfer()">Make Transfer</button>
              </label>
              </div>
        </form>
        </div>
        <div ng-hide="showform" >
        <form name="form2" class="css-form" novalidate>
            <div class="list card listshow">
            <div class="item item-stable item-divider">
            Wallet Confirmation
            <p class="errmsg" ng-show="authPay">{{authMsg}}</p>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Wallet ID</span>
            <input type="text" placeholder="Enter Wallet Number"  ng-model="allval.walletid" required>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Enter Wallet Password"  ng-model="allval.walletpasd"  required>
            </div>
            <div class="item  bcklist2" >
            <button class="button  button-dark " ng-disabled="form.$invalid"  ng-click="transferCancel()">Cancel</button> &nbsp;
            <button class="button  icon-left ion-locked button-dark  "  ng-disabled="form2.$invalid"  ng-click="transferConfirm()">Continue with Tranfer</
            button>
            </div>
            </div>
		</form>
        </div>
        </ion-content>
</ion-view>
